@import './reset';
@import './utils';
@import './var';
@import '../fonts/TTLakes/stylesheet.css';
.wrapper{
    position: relative;
}
body{
    font-family: 'TT Lakes Compressed';
    font-weight: 500;
    font-size: 16px;
}

.header-laptop {
    display: none;
}
.header-dextop {
    display: none;
}
.burger-btn {
    height: 40px;
    aspect-ratio: 1;
    background-color: $btn-red-color ;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    padding-left: 11px;
    cursor: pointer;
    & span{
        display: block;
        width: 10px;
        height: 2px;
        background-color: $btn-white-color;
        position: relative;
        &::after{
            content: '';
            display: block;
            width: 18px;
            height: 2px;
            background-color: $btn-white-color;
            position: absolute;
            top: -5px;
        }
        &::before{
            content: '';
            display: block;
            width: 14px;
            height: 2px;
            background-color: $btn-white-color;
            position: absolute;
            top: 5px;
        }
    }

}

.header {
    margin-block: 19px;
    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    // .header__btns-row

    &__btns-row {
        display: flex;
        column-gap: 20px;
    }
    &__line{
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }
    // .header__button

    &__button {
        height: 40px;
        aspect-ratio: 1;
        background-color: $btn-red-color ;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;
        padding-left: 11px;
    }
}
.header-mobile {
}
.header-laptop__wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}
.header-dextop{
    position: absolute;
    top: 0;
    right: 0;
    & .btns-row__item{
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
}
.header {

    // .header__btns-row

    &__btns-row {

    }

    // .header__button

    &__button {
    }
}
.btns-row {

    // .btns-row__item

    &__item {
    }
}

.container {
}

@media(min-width: 320px){
    .header-laptop {
        display: none;
    }
    .header-dextop {
        display: none;
    }
    .services {
        background-color: #F8F8F8;
        padding-top: 24px;
		// .services__title

		&__title {
            font-weight: 700;
            margin-bottom: 24px;
            position: relative;
            &::before{
                content: '';
                width: 4px;
                height: 40px;
                background-color: #41F6D7;
                position: absolute;
                top: -7px;
                left: -13px;
                border-radius: 2px;
            }
		}

		// .services__slider

		&__slider {
            margin-bottom: 24px;
		}

		// .services__row

		&__row {
            display: flex;
            column-gap: 10px;
            overflow-x: scroll;
            color: #7E7E82;
		}

		// .services__item

		&__item {
            min-width: 220px;
            padding: 8px 9px 8px 16px;
            &.item-active{
                border: 2px solid $accent-color;
                border-radius: 6px;
                background-color: $btn-white-color;
            }
		}

		// .services__description

		&__description {
		}
}
.container {
}
.description {
		// .description__

		&__ {

			// .description___row

			&_row {
			}
		}

		// .description__text

		&__text p{
            max-height: 90px;
            overflow: hidden;
            font-size: 14px;
            margin-bottom: 16px;
		}

		// .description__button

		&__button {
            padding-left: 32px;
            position: relative;
            top: 0;

            margin-bottom: 16px;
            &:hover{
                text-decoration: underline;
                top: 2px;
            }
            &::before{
                content: '';
                width: 24px;
                aspect-ratio: 1;
                background-image: url(../img/icon/arrow-down.svg);
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                left: 0;
            }
		}

		// .description__img

		&__img {
		}
}

}
@media(min-width: 768px){
    .header-mobile {
        display: none;
    }
    .header-laptop {
        display: block;
    }
    .header-dextop {
        display: none;
    }
    .description___row{
        display: flex;
        flex-direction: row;
        column-gap: 40px;
    }
}
@media(min-width: 1120px){
    .header-mobile {
        display: none;
    }
    .header-laptop {
        display: none;
    }
    .header-dextop {
        display: block;
    }
}
